<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Concrete Compressive Strength</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        body{
            background-color: #8EC5FC;
            }
        
    </style>
  </head>
  <body>
    
    <div class="container">
        <marquee scrollamount=20><h1> Compressive strength is the ability of material or structure to carry the loads on its surface without any crack or deflection.</h1>
            
        </marquee>
        {% if  results %}    
                <div class="alert alert-success " role="alert">
                    Compressive Strength for given details is {{ results }}
                </div>                  
                {% endif %}
        <section id="predict" style="display: flex;justify-content: center;">
        <div id="form-predict" style="margin-top: 20px;" class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <form action="{{ url_for('predict_datapoint')}}" method="post">
                <h2>
                    <legend>Concrete Compressive Strength Prediction</legend>
                </h2>
                <br><hr>
                
                
                <div class="col-auto">
                    <label class="form-label" style="margin: 20px;">Cement</label>
                    <input class="form-control" type="number" required name="cement"
                        placeholder="kg in a mixture " min='100' max='1000' />
                </div>

                <div class="col-auto">
                    <label class="form-label" style="margin: 20px;">Blast Furnace Slag</label>
                    <input class="form-control" type="number" required name="blast_furnace_slag"
                        placeholder="kg in a mixture " min='100' max='1000' />
                </div>
                <div class="col-auto">
                    <label class="form-label" style="margin: 20px;">Fly Ash</label>
                    <input class="form-control" type="number" required name="fly_ash"
                        placeholder="kg in a mixture " min='100' max='1000' />
                </div>
                <div class="col-auto">
                    <label class="form-label" style="margin: 20px;">Water</label>
                    <input class="form-control" type="number" required name="water"
                        placeholder="kg in a mixture " min='100' max='1000' />
                </div>
                
                <div class="col-auto">
                    <label class="form-label" style="margin: 20px;">Super Plasticizer</label>
                    <input class="form-control" type="number" required name="superplasticizer"
                        placeholder="kg in a mixture " min='100' max='1000' />
                </div>
                
                <div class="col-auto">
                    <label class="form-label" style="margin: 20px;">Coarse Aggregate</label>
                    <input class="form-control" type="number" required name="coarse_aggregate"
                        placeholder="kg in a mixture " min='100' max='1000' />
                </div>
                <div class="col-auto">
                    <label class="form-label" style="margin: 20px;">Fine Aggregate</label>
                    <input class="form-control" type="number" required name="fine_aggregate"
                        placeholder="kg in a mixture " min='100' max='1000' />
                </div>
                <div class="col-auto">
                    <label class="form-label" style="margin: 20px;">Age</label>
                    <input class="form-control"required type="number" name="age"
                        placeholder="Age in days" min='1' max='365' />
                </div>
                <div class="mb-3" style="margin: 20px;">
                    <input class="btn btn-info" type="submit" value="Predict Strength" required />
                </div>
            </form>
        </div>
        </section>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="background-color: aliceblue;">
            <p class="col-md-4 mb-0 text-body-secondary">© 2023 Company, Inc</p>
        
            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="/static/images/concrete.png" alt="Concrete" width="30" height="30">
            </a>
        
            <ul class="nav col-md-4 justify-content-end">
              <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
              <li class="nav-item"><a href="#predict" class="nav-link px-2 text-body-secondary">Predict Strength</a></li>
              <li class="ms-3"><a class="text-body-secondary" href="https://github.com/ASM313/">
                <img src="/static/images/github.png" alt="Github" width="30" height="30">
              </a></li>
              <li class="ms-3"><a class="text-body-secondary" href="https://linkedin.com/in/atiqmansoori7">
                <img src="/static/images/linkedin.png" alt="LinkedIn" width="30" height="30">
              </a></li>
              <li class="ms-3"><a class="text-body-secondary" href="https://instagram.com/atiq_sir_official">
                <img src="/static/images/instagram.png" alt="Instagram" width="30" height="30">
              </a></li>
              </ul>
          </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
